.sidebar {
  background-color: #fff;
  width: 300px;
  float: left;
  height: 100%;
  padding: 40px 0 20px 0;
  color: #323130;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
  &__line {
    height: 2px;
    margin: 20px;
    background-color: $gray;
  }
}

.groups {
  // .groups__item
  &__item {
  }
  // .groups__number
  &__number {
  }
}

.groups-item {
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
  &:hover {
    background-color: #fafafa;
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    img {
      width: 1.3333em;
    }
    * {
      display: block;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #2564cf;
    height: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: height 0.2s ease;
  }
  &.active {
    background-color: #eff6fc;
    &::before {
      height: 100%;
    }
  }
}

.group-form {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  &__wrapper {
    align-items: center;
  }
  // .group-form__item
  &__item {
  }
  // .group-form__submit
  &__submit {
  }
  // .group-form__input
  &__input {
    padding-left: em(10px);
    color: $black;
  }
  i {
    font-size: rem(24px);
    color: $blue;
  }
}
