$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "@/assets/fonts" !default;

$icon-list_add: "\e901";
$icon-sort: "\e902";
$icon-add: "\e903";
$icon-notification: "\e904";
$icon-star: "\e905";
$icon-repeat: "\e906";
$icon-done: "\e907";
$icon-search: "\e908";
$icon-calendar: "\e953";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3taks1")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list_add {
  &:before {
    content: $icon-list_add;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-notification {
  &:before {
    content: $icon-notification;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-repeat {
  &:before {
    content: $icon-repeat;
  }
}
.icon-done {
  &:before {
    content: $icon-done;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
