//^ =============================== Size key ===============================
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$base-vw: 1366px;
$min-vw: 360px;

//^ =============================== font ===============================
$font-size: 16px;
$root-font-size: 10px;
$title-size: 30px;
$text-size: 15px;
$main-font: "Segoe", "sans-serif";
$main-weight: 400;

//^ =============================== colors ===============================
$blue: #2564cf;
$black: #323130;
$gray: #ededed;
