@import "@/assets/styles/_fonts.scss";
@import "@/assets/styles/_normalizer.scss";
@import "@/assets/styles/_grid.scss";

//^ =============================== Global style & blocks ===============================
html {
  font-size: $root-font-size;
}

#app {
  font-family: $main-font;
  font-size: $font-size;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: $main-weight;
  color: $gray;
  background-color: #f3f2f1;
}
.app-wrapper {
  height: 100%;
}
